<script>
  var userId = <%- JSON.stringify(playfabId) %>;
</script>

<div class="modal fade" id="accept_modal" tabindex="-1" role="dialog" aria-labelledby="accept_modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div>Dobio si poziv na duel od:</div>
                    <div id="opponent-name"></div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="row rankings-modal-row">
                                <div class="col-sm-4">
                                    <span>dnevni<br/>rang</span><br/>
                                    <span class="gold" id="daily-rang"></span>
                                </div>
                                <div class="col-sm-4">
                                    <span>nedeljni<br/>rang</span><br/>
                                    <span class="gold" id="weekly-rang"></span>
                                </div>
                                <div class="col-sm-4">
                                    <span>ukupni<br/>rang</span><br/>
                                    <span class="gold" id="total-rang"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="accept_invite" type="button" class="btn munch-button">prihvati poziv</button>
                <button type="button" class="btn munch-button" data-dismiss="modal">odbij poziv</button>
            </div>
        </div>
    </div>
</div>
<script src='/jquery/jquery.min.js'></script>
<script src='/phaser/phaser.min.js'></script>
<script src='/bootstrap/js/bootstrap.min.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src='/javascripts/game.js'></script>
