<p class="text-center text-muted">© Copyright 2017</p>
<script src='/jquery/jquery.min.js'></script>
<script src='/phaser/phaser.min.js'></script>
<script src='/bootstrap/js/bootstrap.min.js'></script>