<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        PLAY
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</div>

</body>
</html>