<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="star-field">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</div>
<div class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row login-body profile-body rules">
            <div class="col-xs-12">
                <div class="contact-holder">
                    Jaffa DOO Crvenka<br/>
                    Maršala Tita 245<br/>
                    25220 Crvenka<br/><br/>
                    call centar:<br/>
                    <span>0800/200-010</span><br/><br/>
                    <span style="color: #FFDF00;">jaffa@jaffa.rs</span>
                </div>
            </div>
        </div>
        <div class="row munch-logo-row hide-on-mobile">
            <div class="col-md-4">
                <div class="spanner"></div>
            </div>
            <div class="col-md-4">
                <img src="/assets/home/munchmallow-logo.png" alt="Igraj Munch Pong">
            </div>
            <div class="col-md-4">
                <div class="spanner"></div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</div>

</body>
</html>