<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="star-field">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</div>
<div class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-0 col-lg-10 col-md-12">
                <div class="login-head row hide-on-mobile">
                    <div class="col-md-offset-1 col-sm-offset-0 col-md-10 col-sm-12 col-lg-offset-3 col-lg-6 logo">
                        <img src="/assets/logo.png" alt="">
                    </div>
                </div>
                <div class="row login-body profile-body search-users">
                    <div class="form">
                        <div class="search-form">
                            <div class="form-group row">
                                <label for="name" class="col-sm-12 col-md-offset-2 col-md-4 col-form-label">pronađi protivnika po nadimku:</label>
                                <div class="col-sm-12 col-md-4">
                                    <input name="name" type="text" class="form-control" id="name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row login-body profile-body">
                    <div class="col-md-12">
                        <div id="opponents">
                            <div class="row opponent-row--header">
                                <div class="col-xs-8 col-sm-4">nadimak</div>
                                <div class="col-xs-4 col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2">ukupni<br/>rang</div>
                                        <div class="col-xs-2 hide-on-mobile">nedeljni<br/>rang</div>
                                        <div class="col-xs-2 hide-on-mobile">dnevni<br/>rang</div>
                                        <div class="col-xs-2 hide-on-mobile">ukupno<br/>poena</div>
                                        <div class="col-xs-2 hide-on-mobile">nedeljnih<br/>poena</div>
                                        <div class="col-xs-2 hide-on-mobile">dnevnih<br/>poena</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row munch-logo-row hide-on-mobile">
                    <div class="col-md-4">
                        <div class="spanner"></div>
                    </div>
                    <div class="col-md-4">
                        <img src="/assets/home/munchmallow-logo.png" alt="Igraj Munch Pong">
                    </div>
                    <div class="col-md-4">
                        <div class="spanner"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</div>

</body>
</html>