<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div id="munch-pong">
            Loading...
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
        <script src='/javascripts/game.js'></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/main.js"></script>
    </footer>
</div>

</body>
</html>