<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="game-container">
            <div id="munch-pong"></div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer.ejs %>
        <script src='/javascripts/game.js'></script>
        <script src="http://localhost:8080/socket.io/socket.io.js"></script>
        <script src="/javascripts/main.js"></script>
    </footer>
</div>

</body>
</html>