<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="star-field">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</div>
<div class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-0 col-lg-10 col-md-12">
                <div class="login-head row login-head-login-page">
                    <div class="col-md-offset-1 col-sm-offset-0 col-md-10 col-sm-12 col-lg-offset-3 col-lg-6 logo">
                        <img src="/assets/logo.png" alt="">
                    </div>
                </div>
                <div class="row login-body login-head">
                    <div class="col-md-offset-1 col-sm-offset-0 col-md-10 col-sm-12 col-lg-offset-2 col-lg-8">
                        <p>Kreiraj novi korisnički nalog. Sva polja su obavezna.</p>
                        <p>Ako se se već registrovao, prijavi se kao postojeći korisnik:</p>
                        <div class="form">
                            <form method="post" action="/auth/register">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <% if (typeof errorObject !== 'undefined' && errorObject.errorCode === 1058){ %>
                                        <label class="error">Korisničko ime već postoji, molimo te da izabereš drugo</label>
                                            <% } %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-sm-12 col-md-4 col-form-label">izaberi nadimak:</label>
                                    <div class="col-sm-12 col-md-8">
                                        <input value="<% if(typeof username !== 'undefined') { %><%= username %><% }%>" name="username" type="text"
                                               class="<% if (typeof errorObject !== 'undefined' && errorObject.errorCode === 1058){ %> error <% } %>form-control" id="username">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <% if (typeof errorObject !== 'undefined'
                                                    && typeof errorObject.errorDetails !== 'undefined'
                                                    && errorObject.errorDetails.Password){ %>
                                        <label class="error">Lozinka mora imati najmanje 6, a najviše 100 karaktera</label>
                                            <% } %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-12 col-md-4 col-form-label">izaberi šifru</label>
                                    <div class="col-sm-12 col-md-8">
                                        <input name="password" type="password" class="<% if (typeof errorObject !== 'undefined'
                                                && typeof errorObject.errorDetails !== 'undefined'
                                                && errorObject.errorDetails.Password){ %>
                                            error
                                            <% } %> form-control" id="inputPassword" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword2" class="col-sm-12 col-md-4 col-form-label">ukucaj šifru ponovo</label>
                                    <div class="col-sm-12 col-md-8">
                                        <input name="password_confirm" type="password" class="form-control" id="inputPassword2" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <% if(typeof errorObject !== 'undefined'
                                                && typeof errorObject.errorDetails !== 'undefined'
                                                && errorObject.errorDetails.Email) { %>
                                    <label class="error col-sm-12 col-md-12 col-form-label"><%= errorObject.errorDetails.Email[0] %> </label><% } %>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-12 col-md-4 col-form-label">e-mail adresa:</label>
                                    <div class="col-sm-12 col-md-8">
                                        <input value="<% if(typeof email !== 'undefined') { %><%= email %><% }%>" name="email" type="text" class="form-control<% if(typeof errorObject !== 'undefined' && typeof errorObject.errorDetails !== 'undefined' && errorObject.errorDetails.Email) { %> error <% }%>" id="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="munch-btn btn-new-account">
                                            <button type="submit" class="register-btn">
                                                <img src="/assets/buttons/new-account.png" class="regular">
                                                <img src="/assets/buttons/new-account.png" class="over">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row munch-logo-row hide-on-mobile">
            <div class="col-md-4">
                <div class="spanner"></div>
            </div>
            <div class="col-md-3">
                <img src="/assets/home/munchmallow-logo.png" alt="Igraj Munch Pong"></a>
            </div>
            <div class="col-md-4">
                <div class="spanner"></div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</div>

</body>
</html>