<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="star-field">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</div>
<div class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-0 col-lg-10 col-md-12">
                <div class="row login-body profile-body rules">
                    <h2 class="title">PRAVILA NAGRADNOG KONKURSA "MunchWars"</h2>
                </div>
            </div>
        </div>
        <div class="row login-body profile-body rules">
            <div class="col-xs-12">
                <ol>
                    <li><strong>Naziv, sedište i drugi bitni podaci u pogledu organizatora konkursa</strong><br/>
                        <span>Organizator „MunchWars“ konkursa je JAFFA DOO CRVENKA sa sedištem u ulici Maršala Tita 245, 25220 Crvenka, MB: 08004684, PIB 100263582 (u daljem tekstu <strong>Organizator</strong>).</span>
                    </li>
                    <li><strong>Naziv, vreme trajanja i svrha konkursa</strong><br/>
                        <span>U svrhu promocije proizvoda „Munchmallow“, Organizator ovim putem javno objavljuje pravila za nagradni konkurs pod nazivom “MunchWars”
                            (u daljem tekstu: <strong>Konkurs</strong>),
                            koji će biti organizovan na internet strani Organizatora <a href="http://www.munchwars.com">www.munchwars.com</a> u skladu sa odredbama ovih pravila i propisa kojima se uređuje javno obećanje nagrade.</span>
                    </li>
                    <li><strong>Mesto organizovanja konkursa</strong><br/>
                        <span>Konkurs se organizuje na teritoriji Republike Srbije.</span></li>
                    <li><strong>Opis konkursa i uslovi učestvovanja u njemu</strong><br/>
                        <span>Pravo učešća u nagradnom konkursu imaju sva punoletna fizička lica,
                            koja su korisnici internet mreže sa prebivalištem u Republici Srbiji.<br/><br/>
                        Zadatak učesnika konkursa je da na internet strani Organizatora www.munchwars.com
                            izabere stranu i da sa što boljim rezultatom, odigra Munch Pong,
                            protiv računara ili drugog online igrača.<br/><br/>
                        Po ulasku na navedenu internet stranu učesnik se mora složiti sa Pravilima konkursa.<br/>
Na konkursu mogu učestovati isključivo fizička lica, bez obzira na državljanstvo, sa navršenih 18 (osamnaest) godina života ili više, kao i  maloletna lica uz pisanu saglasnost i nadzor roditelja (u daljem tekstu: Učesnici).<br/>
Iz učešća na konkursu isključeni su zaposleni kod organizatora i agencije, kao njihovi bliski srodnici (roditelji, supružnik, deca, sestre i braća).<br/>
Učesnik konkursa svojom prijavom obavezuje se da dostavi sledeće lične podatke ukoliko se loguje preko e-maila: <br/>
    <ul>
        <li>e-mail adresa;</li>
    </ul>
Učesnik konkursa svojom prijavom obavezuje se da dostavi sledeće lične podatke ako se loguje preko Facebook-a:
    <ul>
        <li>lično ime i prezime</li>
        <li>adresa prebivališta</li>
        <li>datum rođenja</li>
        <li>e-mail adresa</li>
        <li>korisnički broj mobilnog telefona</li>
    </ul>
Organizator konkursa zadržava pravo da učesniku konkursa traži dodatne informacije.<br/>
Učestvovanjem u takmičenju, učesnici su saglasni sa pravilima i odlukama organizatora koje su konačne i obavezujuće u svim stvarima vezanim za ovo takmičenje.</span>
                    </li>
                    <li><strong>Način i postupak utvrđivanja dobitaka odnosno dodele nagrada </strong><br/>
                        <span>Od svih prijavljenih Učesnika za vreme trajanja konkursa, nagrade osvajaju Učesnici koji ostvare najbolje rezultate na dnevnom i nedeljnom nivou.<br/>
Kriterijum za odabir najboljeg rezultata jeste najveći broj osvojenih poena u igrici na internet strani u trenutku preseka – za dnevne nagrade tog dana u 23:59, a za nedeljne u nedelju u 23:59 a table sa postignutim rezultatima će biti javno objavljena u svakom trenutku. Ako se dogodi slučaj da dva učesnika imaju isti broj poena u trenutku preseka oba učesnika će dobiti nagradu ako se radi o slučaju velikih Munch kutija, a u slučaju da dva takmičara imaju na nedeljnom preseku isti broj poena, oni će odigrati MunchWars finalnu borbu koja će odlučiti ko je nedeljni dobitnik Nintendo konzole – termin finalne borbe će odrediti organizator naknadno uz informisanje i saglasnost finalista.<br/>
Takmičar (sa jednog naloga i jedne e-mail adrese) ne može dobiti više puta istu nagradu. U slučaju da je među prvih 10 dnevnih ili najbolji nedeljni takmičar koji je već osvojio nagradu, nagrada pripada sledećem učesniku sa najboljim rezultatom.<br/>
Organizator je pripremio sledeće nagrade:<br/>
    <ul>
        <li>
            210 velikih Munch kutija
        </li>
        <li>3 Nintendo Switch konzole</li>
    </ul>
koje će biti dodeljivane na sledeći način:
    <ul>
        <li>Velika Munch kutija – za najboljih 10 postignutih rezultata na dnevnom nivou</li>
        <li>Nintendo Switch konzola – za najbolji rezultat nedelje</li>
    </ul></span></li>
                    <li>
                        <strong>Način i rok predaje nagrada</strong><br/>
                        <span>
                            Imena dobitnika biće svakodnevno objavljivana na internet stranici Organizatora www.munchwars.com, a dobitnici će biti kontaktirani putem e-maila.<br/>
Po izvršenom kontaktu dobitnici su u obavezi da Organizatoru dostave podatke o imenu i prezimenu, kontakt telefonu i fizičkoj adresi na koju će nagrada biti isporučena kurirskom službom, najkasnije u roku od 7 dana od objavljivanja imena dobitnika. Ovi podaci će biti korišćeni isključivo za dostavu nagrade.<br/>
Ukoliko dobitnici postupe suprotno Pravilima Konkursa odnosno ne dostave potrebne podatke u traženom roku od 72h od momenta kontaktiranja, Organizator neće biti u obavezi da im dodeli nagrade, u kom slučaju će nagrade biti dodeljene sledećim učesnicima sa najboljim rezultatom.<br/>
Učesnici koji učestvuju u takmičenju ne mogu zahtevati nagrade u većim količinama ili drugačije nagrade od onih koje su navedene u ovim pravilima od strane organizatora. <br/>
                        </span>
                    </li>
                    <li>
                        <strong>Žalbe i reklamacije</strong><br/>
                        <span>Sve žalbe i reklamacije rešava organizator konkursa. U slučaju osnovanih žalbi organizator se obavezuje da će ih u što kraćem roku otkloniti i o tome obavestiti učesnike. </span>
                    </li>
                    <li>
                        <strong>Diskvalifikacija iz nagradnog konkursa</strong><br/>
                        <span>Organizator zadržava pravo da, bez ikakvog prethodnog obaveštenja, isključi učesnika iz daljeg učešća na konkursu i/ili ne dodeli nagradu, ukoliko je u međuvremenu osvoje, odnosno zahteva povraćaj nagrade, ukoliko:
                            <ul>
                                <li>Učesnik ne ispunjava uslove i kriterijume za učešće;</li>
                                <li>je Učesnik dao nepotpune odnosno netačne lične podatke u smislu ovih pravila;</li>
                                <li>Učesnik ne poštuje odnosno prekrši bilo koju odredbu ovih pravila; </li>
                                <li>Učesnici daju netačne, nepotpune ili tuđe podatke, odnosno povrede prava trećih lica ili vlasnika ovih podataka;</li>
                                <li>Učesnici objave sadržaj koji nije u skladu sa imidžom brenda i kompanije, organizator zadržava pravo da te učesnike isključe iz daljeg konkursa;</li>
                                <li>Učesnik zloupotrebljava pravila i koristi nedozvoljene aktivnosti na sajtu konkursa („hack-ovanje“ i sl.)</li>
                            </ul>
                        </span>
                    </li>
                    <li>
                        <strong>Publicitet</strong><br/>
                        <span>
                            Učesnici koji pošalju prijavu na web sajt organizatora, prihvatanjem ovih pravila konkursa, izričito se saglašavaju i sa sledećim:
                            <ul>
                                <li>njihovo ime i adresa (samo uz navođenje naselja) organizator može, bez ikakvih dodatnih uslova i/ili davanja saglasnosti, objaviti, ali samo i isključivo u vezi sa konkursom;</li>
                                <li>da se o učesnicima konkursa može sačiniti video, audio, fotografski i/ili filmski zapis, te da takav video, audio, fotografski, filmski odnosno drugi zapis organizator može u celosti ili u delovima koristiti, javno emitovati, javno prikazivati, bez obzira na vrstu medija i broj emitovanja i bez ikakvog vremenskog, teritorijalnog ili drugog ograničenja;</li>
                                <li>da takav zapis mogu prerađivati, modifikovati, uklapati ili na drugi način menjati, odnosno na drugi način koristiti za potrebe preporuke proizvoda i usluga organizatora odnosno za njegovo oglašavanje, bez bilo kakve posebne naknadne saglasnosti;</li>
                                <li>svojim učešćem izričito prihvataju odredbe ovih pravila u celosti.</li>
                            </ul>
Učešće na konkursu i dostavljanje ličnih podataka je dobrovoljno i ne smatra se obradom podataka u smislu zakona o zaštiti podataka ličnosti. U svakom slučaju, prihvatanjem ovih pravila konkursa, svaki učesnik prihvata da njegove lične podatke sadržane u poruci poslatu administratoru broja organizatora, organizator može prikupiti i čuvati na području Republike Srbije, uz zadržavanje na ovoj teritoriji, odnosno preduzimati druge neophodne radnje u smislu pozitivnih propisa.<br/>
Organizator izjavljuje da prikupljeni lični podaci učesnika neće bi stavljeni na raspolaganje trećim licima, niti će se na drugi način koristiti osim za potrebe dodele nagrada na konkursu, te u skladu sa ovim pravilima konkursa, kao i u skladu sa zakonom. <br/>
Svaki učesnik ima pravo na uvid u svoje podatke koji su dostavljeni organizatoru, tražiti njihovu izmenu ili brisanje, povući svoj pristanak u vezi sa podacima ili učešćem na konkursu, pod uslovima i u skladu sa zakonom.
                        </span>
                    </li>
                    <li>
                        <strong>Porezi</strong><br/>
                        <span>Obavezu plaćanja poreza na pobedničku nagradu (porez na dohodak građana dobitkom)
                            preuzima Organizator, a druge eventualne poreske obaveze padaju na teret dobitnika. </span>
                    </li>
                    <li>
                        <strong>Rešavanje sporova</strong><br/>
                        <span>U slučaju spora između organizatora i učesnika nagradnog konkursa nadležan je sud u Beogradu. </span>
                    </li>
                    <li>
                        <strong>Prekid nagradnog konkursa </strong><br/>
                        <span>Nagradni konkurs se može prekinuti u slučaju više sile, o čemu će učesnici odmah biti obavešteni putem pisanog obaveštenja putem društvenih mreža kao i na internet stranici.</span>
                    </li>
                    <li>
                        <strong>Odgovornosti</strong><br/>
                        <span>
                            Organizator ne preuzima odgovornost za:
                            <ul>
                                <li>probleme koji mogu nastati prilikom prijave za učešće na konkursu ili druge probleme nastale iz tehničkih ili sličnih razloga koji mogu nastati tokom ili u vezi sa konkursom koji nisu pod direktnom kontrolom organizatora odnosno agencije;</li>
                                <li>probleme koji mogu nastati prilikom prijave za učešće na konkursu ili druge probleme nastale iz tehničkih ili sličnih razloga koji mogu nastati tokom ili u vezi sa konkursom ((ne) funkcionisanje interneta, kao i posledice (ne) funkcionisanja) bez obzira na razlog (ne) funkcionisanja;</li>
                                <li>(ne) istinitost podataka koje učesnici ostavljaju;</li>
                                <li>bilo kakve posledice koje su nastale kao posledica pogrešne upotrebe ili zloupotrebe uslova konkursa od strane učesnika u konkursu ili trećih osoba,</li>
                                <li>neželjene posledice koje su učesnici pretrpeli zbog učešća u konkursu.</li>
                            </ul>
                        </span>
                    </li>
                    <li>
                        <strong>Pravo izmene opštih pravila nagradnog konkursa </strong><br/>
                        <span>Organizator zadržava pravo da izmeni period trajanja konkursa, prekine ili obustavi dalju realizaciju konkursa, u bilo koje doba i prema sopstvenom nahođenju.<br/>
Za vreme prekida konkursa, kao i u slučaju obustave, organizator se oslobađa svake dalje obaveze prema učesnicima. <br/>
Organizator zadržava pravo da izmeni ova pravila, prema sopstvenom nahođenju. Sve takve izmene, prekidi ili obustave biće objavljene na fb stranici organizatora bez odlaganja. </span>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row munch-logo-row hide-on-mobile">
            <div class="col-md-4">
                <div class="spanner"></div>
            </div>
            <div class="col-md-4">
                <img src="/assets/home/munchmallow-logo.png" alt="Igraj Munch Pong">
            </div>
            <div class="col-md-4">
                <div class="spanner"></div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</div>

</body>
</html>